# ============================================

# MyGPT2 - Requirements

# ============================================

# Deep Learning

torch>=2.7.0

# Numerical Computing

numpy>=2.3.0

# Progress Bars

tqdm>=4.67.0

# Advanced Regular Expressions (Tokenizer)

regex>=2025.0.0

# Dataset Handling

datasets>=4.0.0

# Data Manipulation

pandas>=2.3.0

# Plotting Training Curves

matplotlib>=3.10.0

# TensorBoard Logging

tensorboard>=2.20.0
